@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
	
body{
      background-color: #313338;
      color: white;
      font-family: Tahoma, sans-serif;
      text-align: center;
      margin: 2% 15%;
}

a{
      color: #5865F2;
      text-decoration: none;
}
a:hover{
      background-color: #3A406E;
      color: white;
}
a:active{
      background-color: #5865F2;
      color: white;
}

#carpetas{
      background-color: #2B2D31;
      padding: 1px 10px;
      text-align: left;
}	
#carpetas ul{
      list-style-type: none;
      padding: 0;
}

#datos{
	    background-color: #383A40;
		font-size: small;
		padding: 1px 10px;
		text-align: left;
		margin: 2px;
	}
	
	#historial{
	    background-color: #1E1F22;
		font-size: small;
		padding: 1px 10px;
		text-align: left;
		margin: 2px;
	}
	.entrada{
	    color: #23A55A;
	}
	.ascenso{
	    color: #1B9DFC;
	}
	.descenso{
	    color: #F0B232;
	}
	.cuentaperdida{
	    color: #80848E;
	}
